
 *{
 	margin: ; padding: 0; box-sizing: border-box; 
 	 }
	 body{ background-color:#7fafb975;}


  main{
 	width: 90%; margin: 10px auto ;
 	  border:0px solid black;
 	     display: grid; 
 	 	
/* grid row ki hight define*/

			grid-template-rows: 100px 20px 375px 200px 375px 420px 175px 50px  ;
 	 	grid-template-columns: repeat(3, 1fr) ;
 	 	grid-gap: 5px; /* give gaps in rows and column*/
 	 }
/*Header styling*/
 	 .header {	background-color: #7fafb975; 
	grid-column: 1/-1;
		 box-shadow: 2px 2px 2px 2px;
 	 }

 	 /*marquee styling*/

 	 .Marquee {	background-color: pink; 
 	 grid-column: 1/-1;
	 border-radius:5px;
 	 }

/*leftside navigation list styling*/
 	 .leftbar {	background-color:#f3eded ; 
	 border-radius:10px;

 	 }

 	  .navlist{
 	  	padding: 1em;
 	  	padding-left: 1em;
 	  	 	  	background-color: #;
 	  }


 	  .linklist{

 	  	margin-top: 20px;
        background-color: pink;
 	  	font-family: 'Segoe UI', Tahoma, sans-serif,Arial;
    	font-size: 85% ;
 	  	margin: 4px;
 	  	padding:0.2em;
 	  	display: grid;
 	  }

/* Ceter area styling work*/
 	 .centerarea{	
 	 	background-color: #b4b40c; 
		width: 600px;
		display: grid;
		border-radius:10px;
 	 }


/*Creating design for rightside weblink*/
 	 .rightbar{	background-color: #f3eded;
				display: grid; 
				border-radius:10px;
}

    
	
	.navlist1{
	padding: 1em;
 	  	padding-left: 1em;
	 	  	 	  	background-color: #;}
 	 .linklist1{

 	  	margin-top: 20px;
        background-color: pink;
 	  	font-family: 'Segoe UI', Tahoma, sans-serif,Arial;
    	font-size: 85% ;
 	  	margin: 4px;
 	  	padding:0.2em;
 	  	display: grid;

 	  }

.abovefooter{
	background-color: white ; 
 	 			 grid-column: 1/-1;
 	  			font-family: 'Segoe UI', Tahoma, sans-serif,Arial;
    			font-size: 85% bold;
    			display: grid;
}
table{
	     
	
	margin:auto;
	margin-top:auto;
	margin-bottom:auto;
	cellpadding:2;
	cellspacing:2;
}
td img{
	pedding:5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
tr{
	margin:10px;
	pedding:10px;
}

.footer-menu-row{
	margin:5px;
	background-color:;
	border:2px solid gray;
}
.footer-menu-row4{
		margin:5px;
	background-color:;
	border:2px solid gray;
}
	
 .goshwara {	background-color: white ; 
					
 	 			 grid-column: 1/-1;
 	  			font-family:Tahoma, sans-serif,Arial;
    			font-size: 95% bold;
    			display: grid;
			text-align:center;
								
			}
			
			.population{ margin:auto;
							width: 90%;
							height:375px;
				
			}


.stackboard{	background-color: white ; 
		 grid-column: 1/-1;
    		display: grid;
		text-align:center;
		}
		
.dashboard { margin:auto;
		width: 80%;
		height:175px;
		}
		




 	  /*Footer designing*/

 	   	 .footer {	background-color: pink ; 
 	 			 grid-column: 1/-1;
 	  			font-family:Tahoma, sans-serif,Arial;
    			font-size: 95% bold;
    			display: grid;
				text-align:center;
				
				
			}















